@font-face {
    font-family: Monopoly Bold;
    src: url('Monopoly Bold.ttf') format('truetype');
}

body
{
    font-family: Monopoly Bold;
    max-width:1200px;
    margin: auto;
    background-image: url('../images/default/back.png');
    background-repeat:no-repeat;
}

header
{
    background: url('../images/default/black-and-white-1298024_960_720.png');
    background-color:#405BA4;
    display: flex;
    justify-content: space-between;
    max-width:1200px;
    min-height: 230px;
    position: relative;
}

li{
    color: #ccccff;
}

#titre_principal
{
    font-size: 25px;
    flex-direction: column;
    color:#ccccff;
    margin: -15px 0 0 5px;
}

#login {
    position: absolute;
    right: 220px;
    bottom: 50px;
    font-size: 1.5em;
}

/* Navigation */


nav ul
{
    list-style-type: none;
    display: flex;

}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 2em;
    padding-bottom: 3px;
    text-decoration: none;
    color: black;
}


#new_partie{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

#board {
    margin:auto;
    text-align: center;
}
td {min-width:70px;height:70px;}
td.selected {background-color: rgb(250, 234, 115);}
td.possible {background-color: rgb(102, 255, 102);}
td.danger {background-color: rgb(153, 0, 0);}
td.eat {background-color: rgb(255, 51, 51);}
.td_light {background-color:rgb(223, 176, 98);
}
.td_dark {background-color:rgb(134, 89, 60);
}

table#board{
    border: 20px;
    border-style: inset;
    border-color: rgb(191, 136, 106);
    background-color: rgb(134, 89, 60)
}