
{% extends "AfpaChessGameBundle::layout.html.twig" %}



{% block title %}AfpaChessGameBundle:Game:home{% endblock %}

{% block body %}
    <h1>Jeu d'échec</h1>

    <h2 id="new_partie">
        <a href="{{ path("reset_game")}}">Nouvelle partie</a>
    </h2>

    <div id="game">
        {{ render(controller('AfpaChessGameBundle:Game:gameView')) }}
    </div>
{% endblock %}