<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Chess Game{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<header>
    <div><img src="{{asset("bundles/afpachessgame/images/dame.png")}}"/>
    </div>
</header>
<body>
    {% block body %}
    {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
