<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Chess Game{% endblock %}</title>

        <script type="text/javascript" src="{{ asset('bundles/afpachessgame/js/jquery-1.12.3.js') }}"></script>
        <script>
            $(document).ready(function () {
                first_click = true;

                $("#board td").click(function () {
                    // test 1 : Si c'est le premier click
                    if (first_click) {
                        // si oui , test 2 : y'atil une piece sur la case
                        if ($(this).html().indexOf('img') >= 0) {

                            // si oui, selectionner la piece

                            $(this).css("background-color", "blue");


                            first_click = false;
                        }
                    }

                    //$(this).css("background-color", "blue");
                    console.log($(this).data('x') + ',' + $(this).data('y'));
                });
            });
        </script>

    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<header>
    <div>
    </div>
</header>
<body>
    {% block body %}
    {% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
