{% extends "AfpaChessGameBundle::layout.html.twig" %}

{% block title %}AfpaChessGameBundle:User:login{% endblock %}

{% block body %}
    <div class="container">
        <section>
            <div id="wrapper">
                <h1 class="form">Login</h1>
                <form method="POST" id="loginform">
                    <div id="plogin" class="animate form">

                        {{form_errors(form)}}


                        {{ form_widget(form) }}

                        <input type="submit">
                    </div>

                </form>
            </div>
        </section>
    </div>
{% endblock %}
