{% extends "AfpaChessGameBundle::layout.html.twig" %}

{% block title %}AfpaChessGameBundle:User:login{% endblock %}

{% block body %}
    <h1>Welcome at the User:login page</h1>
    {{form_errors(form)}}
    <form method="POST">
        {{ form_widget(form) }}
        <input type="submit">
    </form>
{% endblock %}
