{% extends "AfpaChessGameBundle::layout.html.twig" %}

{% block title %}AfpaChessGameBundle:User:register{% endblock %}

{% block body %}

    <div id="wrapper">
        <h1 class="form">Register</h1>
        <form method="POST">
            <div id="plogin" class="animate form">
                {{form_errors(form)}}

                {{form_widget(form)}}
                <input type="submit">
            </div>
        </form>
    </div>
{% endblock %}

